* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

/**************************/
/* GENERAL COMPONENT */
/**************************/

.container {
  /* max-width: 120rem; */
  /* max-width: 1200px; */
  max-width: 1140px;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6.2rem;
}

.btn {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-radius: 15px;
  transition: all 1s;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: #fff;
}

.btn--full:link,
.btn--full:visited {
  background-color: #364fc7;
}

.btn--full:hover,
.btn--full:active {
  background-color: #228be6;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 3px #fff;
}

.btn--form {
  /* background-color: #1864ab; */
  background-color: #364fc7;
  color: #fdf2e9;
  align-self: end;
}

/*****************************/
/* HELPER/SETTING CLASSES */
/*****************************/
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.center-text {
  text-align: center;
}
