/**************************/
/* HEADER */
/**************************/
.header {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #a5d8ff;
  /* padding: 0 4.8rem; */
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      rgba(34, 34, 34, 0.7)
    ),
    url(sma-img-1.jpg);

  background-size: cover;
  background-position: 90% 0;
}

h1 {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  line-height: 1.05;
}

p {
  font-size: 20px;
  line-height: 1.6;
  /* margin-bottom: 4.8rem; */
}

.logo {
  width: 100%;
  padding-top: 3rem;
}

.head {
  text-transform: uppercase;
  color: #fff;
}

.text-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  align-items: center;
  color: #fff;
  padding-top: 4.8rem;
  font-weight: 400;
}

.school-link {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
}

.school-link:hover {
  color: #364fc7;
}

.school-description {
  display: flex;
  gap: 9.6rem;
  box-shadow: 0 2.4rem 2.4rem 0 rgba(0, 0, 0, 0.36);
  border-radius: 11px;
  background-color: rgba(0, 0, 0, 0.637);
  align-items: center;
  justify-content: center;
  margin: 20rem 40rem;
}

.login {
  margin-right: 1.5rem;
}

/**************************/
/* NAVIGATION */
/**************************/
.main-nav {
  padding: 3rem;
  border-bottom: 0.1rem solid #ffffff50;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  justify-content: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #1971c2;
  background-color: #fff;
  padding: 1rem;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.1rem 2.2rem;
  border-radius: 9px;
  color: #fff;
  background-color: #364fc7;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #228be6;
}

.icon {
  color: #fff;
  height: 2.4rem;
  width: 2.4rem;
}

/**************************/
/* PROFIL SECTION (VISI & MISI)*/
/**************************/
.box {
  background-color: #e9ecef;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 4.6rem;
  align-items: center;
  /* border-radius: 11px; */
  /* overflow: hidden; */
  padding: 4.6rem;
}

.box-title {
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  color: #444;
  text-align: center;
  margin-bottom: 1.6rem;
}

.text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.8rem;
}

.text-list {
  padding-left: 1.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

.photo-img {
  width: 100%;
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.288); */
  /* border: 1.4rem solid #adb5bd; */
  background: linear-gradient(to right, grey, #ced4da);
  padding: 1rem;
  transition: all 1.5s;
}

.photo-img:hover {
  /* transform: rotate(15deg); */
  transform: rotate(1turn);
}

/**************************/
/* PROFIL SECTION */
/**************************/
.section-profil {
  padding: 9.6rem 0;
}

.profil {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border: 12px;
  border-radius: 11px;
  overflow: hidden;
  transition: all 1s;
}

.profil:hover {
  transform: translateY(-3rem);
}

.profil-title {
  font-size: 4rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 6.2rem;
  justify-content: center;
}

.profil-title-box {
  text-align: center;
  padding-top: 4rem;
  font-size: 2.4rem;
  color: #444;
  font-weight: 600;
}

.profil-text {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #333;
  /* text-align: center; */
  padding: 2.4rem 4rem;
  /* padding: 3rem 4rem; */
}

.profil-box {
  overflow: hidden;
}

.profil-img {
  width: 100%;
  transition: all 0.4s;
}

.profil-img:hover {
  transform: scale(1.2);
}

/**************************/
/* NEWS SECTION*/
/**************************/
.section-news {
  padding: 0 0 9.6rem 0;
}

.news {
  /* width: 80rem; */
  margin: 1rem auto;
  background-color: #e9ecef;
  /* padding: 3.2rem 4.8rem 3.2rem 8.6rem; */
  padding: 4.8rem 1.8rem 4.8rem 1.8rem;

  display: flex;
  align-items: center;
  gap: 0 4.8rem;

  border: 1rem solid #aaa;
  background: linear-gradient(to right, #ced4da, #fff);

  overflow: hidden;
}

.news-img {
  height: 30rem;
  /* border-radius: 11px; */
  /* jika ini diatur maka img akan mengcil ke dalam */
  /* transform: scale(1.5); */
  /* box-shadow: 0 1.2rem 24rem rgba(0, 0, 0, 0, 0.25); */
  box-shadow: 0 1.2rem 2.4rem #ffffff9a;
  transition: all 0.3s;
}

.news-img:hover {
  transform: scale(1.2);
}

.news-title {
  color: #333;
  font-size: 2.4rem;
  /* margin-bottom: 2.4rem; */
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid rgba(51, 51, 51, 0.527);
}

.news-text {
  padding-bottom: 1rem;
}

.icon {
  height: 3.4rem;
  width: 3.4rem;
}

.btn-news {
  /* background-color: #364fc7; */
  background-color: #495057;
  border: none;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-smerti {
  overflow: hidden;
}

.btn--left {
  left: 19%;
}

.btn--right {
  right: 19%;
}

.dots {
  position: absolute;
  left: 50%;
  bottom: -193rem;
  transform: translate(-50%, 3.2rem);
  display: flex;
  gap: 1.2rem;
}

.dot {
  height: 1.2rem;
  width: 1.2rem;
  background-color: #fff;
  /* border: 0.2rem solid #364fc7; */
  border: 0.2rem solid #495057;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  /* background-color: #364fc7; */
  background-color: #495057;
}

.read-more {
  font-size: 1.6rem;
  text-decoration: none;
}

/**************************/
/* INFORMATION SECTION*/
/**************************/
.section-information {
  padding: 0 0 9.6rem 0;
}

.information {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.information-box {
  display: grid;
  grid-template-columns: 0fr 3fr;
  background-color: #eee;
  /* background-color: #ddd; */
}

.information-img {
  border-right: 0.2rem dashed rgba(134, 142, 150, 0.412);
  padding-right: 1rem;
}

.info-img {
  width: 40vh;
  background: linear-gradient(to right, #868e96, #ced4da);
  padding: 1rem;
  transition: all 0.3s;
}

.info-img:hover {
  transform: scale(1.2);
  /* transform: skew(10deg); */
  /* transform: rotate(10deg); */
}

.information-box {
  overflow: hidden;
}

.information-text-box {
  padding: 2rem 2rem 2rem 4.8rem;
}

.information-text {
  padding-top: 1rem;
  font-size: 1.8rem;
  color: #444;
}

.information-time {
  font-size: 1.3rem;
  color: #666;
  padding: 1rem 0;
}

/* INFORMATION LINK */

.information-link:link,
.information-link:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: #444;
  transition: all 0.3s;
}

.information-link:hover,
.information-link:active {
  color: #364fc7;
}
/**************************/
/* CTA SECTION*/
/**************************/
.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  border-radius: 11px;
  /* background-color: #d0ebff; */
  background-color: #edf2ff;
  padding: 2.4rem;
}

.cta-text-box {
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.363);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.534);
}

/**************************/
/* LOGIN & SEARCH*/
/**************************/
.cta-box {
  /* padding-top: 12rem; */
  margin: 20rem;
}

/**************************/
/* FOOTER */
/**************************/
.footer {
  margin-top: 9.6rem;
  padding: 12.8rem 0 3.2rem 0;
  /* border-top: 1rem solid #eee; */
  background-color: #212529;
}

.grid--footer {
  grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr;
  gap: 4rem;
}

.smerti-logo {
  height: 24rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
}

.footer-text {
  margin-top: 4.8rem;
  font-size: 1.6rem;
  color: #aaa;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: #fff;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #aaa;
  text-align: center;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
  color: #eee;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
}

.contact {
  line-height: 1.6rem;
}

.address {
  margin-top: 1.4rem;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #aaa;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #aaa;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #364fc7;
}
